<!DOCTYPE HTML>
<html>
	<head>
		<title>About Us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/css/main.css" />
        <script src="https://kit.fontawesome.com/bd5a805faa.js" crossorigin="anonymous"></script>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper" style="overflow-x: hidden;">

			<!-- Header -->
				<div id="" style="  background: url(images/abouthead.jpg) no-repeat center bottom fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; height: 38em;">
										<div id="header" class="container">
                                            <!-- Nav -->
                                            <nav id="nav" style='margin-right: 0;'>
                                                <ul>
                                                    <li>
                                                        <a href="#">Menu</a>
                                                        <ul>
                                                            <li><a href="/">Home</a></li>
                                                            <li><a href="/see-itinerary">Itinerary</a></li>
                                                   
                                                        
                                                        </ul>
                                                    </li>							
                                                </ul>							
                                            </nav>
                                    
                                        </div>

					<!-- Hero -->
						<section id="hero" class="container">
							<header>
								<h2>ABOUT US</h2>
							</header>
							

						</section>

				</div>

			<!-- About Me: Blake -->
            <div id="footer-wrapper">
                <div id="footer" class="container">
                    <header class="major">
                        <img style="width: 150px; height: 150px; border-radius: 50%;" src="images/imgme.jpg" alt="Blake">
                        <h2>Blake Romero</h2>
                        <p>Hello, my name is Blake, I am a software developer with a background in program management. I grew up in California and now live and operate out of the greater Seattle area. I served for five years in the U.S. Army when I discovered my passion for coding and I knew I had to make a career change. I got out in 2018 and finished up my Associate degree, now enrolled at University of Washington to finish up my Bachelors. I enjoy collaborating with others to bring projects to life. Some of my languages and skills are C#, HTML, CSS, JavaScript, jQuery, Node.JS, PostgreSQL, Heroku, Git. I enjoy working front and back-end and I am always looking to improve my skills. Click on my information below to contact me, lets collaborate!</p>
                    </header>
                    <div style="margin: auto; width: 100%;" class="row features">
                        <section class="col-4 col-12-narrower feature">
                            <div>
                                <img style="width: 250px; height: 250px; margin: 0 auto;" src="images/portfolio_heroku.PNG" alt="portfolio" />
                            </div>
                            <p></p>
                        </section>
                        <section class="col-4 col-12-narrower feature">
                            <div>
                                <img style="width: 250px; height: 250px; margin: 0 auto;" src="images/fishy_tracker.PNG" alt="Fishy tracker" />
                            </div>
                            <p></p>
                        </section>
                        <!--<section class="col-4 col-12-narrower feature">
                            <div class="image-wrapper">
                                <a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
                            vel sem sit dolor neque semper magna lorem ipsum.</p>
                        </section> -->
                    </div>
                    <div class="row">
                        <!-- <section class="col-6 col-12-narrower">
                            <form method="post" action="#">
                                <div class="row gtr-50">
                                    <div class="col-6 col-12-mobile">
                                        <input name="name" placeholder="Name" type="text" />
                                    </div>
                                    <div class="col-6 col-12-mobile">
                                        <input name="email" placeholder="Email" type="text" />
                                    </div>
                                    <div class="col-12">
                                        <textarea name="message" placeholder="Message"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <ul class="actions">
                                            <li><input type="submit" value="Send Message" /></li>
                                            <li><input type="reset" value="Clear form" /></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </section> -->
                        <section class="col-6 col-12-narrower">
                            <div class="row gtr-0">
                                <ul class="divided icons col-6 col-12-mobile">
                                    <li class="fab fa-github-square"><a href="https://github.com/blakerom"><span class="extra">Github</a></li>
                                    <li class="fab fa-linkedin"><a href="https://www.linkedin.com/in/blakeromero/"> <span class="extra">Linkedin</a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
                <div id="copyright" class="container">
                    <ul class="menu">
                        <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </div>
            </div>

			<!-- About Me: Matt -->
            <div class="matt" id="header-wrapper">
                <div id="footer" class="container">
                    <header class="major">
                        <h2>Matt Herriges</h2>
                        <p>                      
                            I grew up in Western Washington, born and raised in Tacoma, and now live in Kent, WA as a full stack JavaScript developor. I enjoy programming and love JavaScript, both front-end and back-end. I am a valuable team member, able to communicate well with colleagues and I can both give and receive constructive feedback and act on it. My languages and tools include SQL, JavaScript, Node.js, jQuery, GitHub, VS Code, PostgreSQL, Heroku, CSS, and HTML. I look forward to working with you!
                            <br> Find some links below!
                        </p>
                    </header>
                    <div class="row features matt">
                        <section class="col-4 col-12-narrower feature">
                            <div class="image-wrapper ">
                                <a href="https://github.com/Scooby-Squad-Team/tarot-journal" class="image featured"><img src="images/tarot-journal.png" alt="Tarot Journal screenshot" /></a>
                            </div>
                            <p>My 201 project, Tarot Journal</p>
                        </section>
                        <section class="col-4 col-12-narrower feature">
                            <div class="image-wrapper">
                                <a href="https://herrigesmt-portfolio.herokuapp.com/" class="image featured"><img src="images/portfolio-screenshot.PNG" alt="Portfolio screnshot" /></a>
                            </div>
                            <p>My (very in-progress) portfolio</p>
                        </section>
                        
                    </div>
                    <div class="row matt">

                        <section class="col-6 col-12-narrower">
                            <div class="row gtr-0">
                                <a href="https://www.linkedin.com/in/matthew-herriges-661702101/"><i class="fab fa-linkedin"></i></a>
                                <a href="https://github.com/herrigesmt"><i class="fab fa-github-square"></i></i></a>
                            </div>
                        </section>
                    </div>

                </div>
                <div id="copyright" class="container">
                    <ul class="menu">                        
                    </ul>
                </div>
            </div>

            <!-- About Me: Claudio -->
            <div id="" style="background-color:rgb(27, 112, 27);">
            <div id="footer-wrapper">
                 <div id="footer" class="container" >
                    <header class="major" >
                        <h2 class="cbdiv">Claudio Bailon-Schubert</h2>
                        <p class="cbdiv"> I am a new software developer currently studying at Code Fellows. I've worked a variety of different jobs, and my experiences have helped me hone my ability to quickly learn to do a new job or pick up a new skill. Most recently, I worked as a surveyor, and started with no experience in a field that usually requires a 2 year technical degree. I was able to learn on the job very quickly and even help my coworkers learn new software. Seeing how two different programs approach the same tasks will be helpful to me as a developer. With work slowing because of COVID-19, I decided to jump into software development, which I tried briefly in college and always wanted to come back to. Software development is appealing to me because it is so diverse and has a lot of opportunity, which means I can constantly learn and try new things. I'm looking to find somewhere that I can contribute to a good team while also learning and continue to grow as a developer and a person.                     
                        <br> Feel free to check out my portfolio and other links below.
                        </p>
                     </header>
                     <div class="row features">
                        <section class="col-4 col-12-narrower feature">
                            <div class="image-wrapper ">
                                <img src="images/cbhiking.jpg" alt="Hiking Photo" class="image featured"/>
                            </div>
                        </section>
                        <section class="col-4 col-12-narrower feature">
                            <p>Portfolio</p>
                            <div class="image-wrapper">
                                <a href="https://claudiobailonportfolio.herokuapp.com/" class="image featured" target="_blank" ><img src="images/cbportfolio.png" alt="Portfolio screnshot" /></a>
                            </div>
                        </section>
                        <section class="col-4 col-12-narrower feature">
                            <div class="image-wrapper ">
                                <img src="images/cbrainbow.jpg" alt="End Of The Rainbow" class="image featured"/>
                            </div>
                        </section>
                            
                        </div>
                        <div class="row features">
    
                            <section class="col-6 col-12-narrower">
                                <div class="row gtr-0">
                                    <a href="https://www.linkedin.com/in/claudiobailon/" class="icon brands fa-linkedin-in fa-lg" target="_blank" id="cblink"></a>
                                    <a href="https://github.com/claudiobailon" class="icon brands fa-github fa-lg" target="_blank" id="cblink"></a>
                                </div>
                            </section>
                        </div>
                    </div>
            </div>

			<!-- About Me: Rizo -->
				<div id="" style="  background: url(images/black.jpg) no-repeat center center fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;">
					<div  class="container">
						<header class="major">
							<h2 style="color:white; -webkit-text-stroke-width: 2px;
                            -webkit-text-stroke-color: black;">Robert Rizo</h2>
							<h2 style="color: #c7524a; -webkit-text-stroke-width: 2px;
                            -webkit-text-stroke-color: black;">Nice to meet you, click on an image to see my portfolio: <a style='-webkit-text-stroke-width: 2px;
                                        -webkit-text-stroke-color: black;' href="https://thatvetdevrob.com/">thatvetdevrob.com</a></h2>
                        </header>
                        <div class="row features">
							<section class="col-4 col-12-narrower feature">
								<div class="image-wrapper">
									<a href="https://thatvetdevrob.com/" class="image featured"><img src="images/rizoart.jpeg" alt="" /></a>
								</div>
								<h2 style="color:white; -webkit-text-stroke-width: 2px;
                                -webkit-text-stroke-color: black;">Being creative and having liberal arts in my background helps me find solutions others would overlook.</h2>
							</section>
							<section class="col-4 col-12-narrower feature">
								<div class="image-wrapper">
									<a href="https://thatvetdevrob.com/" class="image featured"><img src="images/rizoheadshot.jpeg" alt="" /></a>
								</div>
								<h2 style="color:white; -webkit-text-stroke-width: 2px;
                                -webkit-text-stroke-color: black;">If my grade falls under 99% I start to worry; I take school or work too seriously, and that's my biggest strength and weakness.</h2>
							</section>
							<section class="col-4 col-12-narrower feature">
								<div class="image-wrapper">
									<a href="https://thatvetdevrob.com/" class="image featured"><img  src="images/mask.jpeg" alt="" /></a>
								</div>
                                <h2 style="color:white; -webkit-text-stroke-width: 2px;
                                -webkit-text-stroke-color: black;">When I create art or code projects I remind myself: it's ok to be child-like so long as im not childish.</h2>
                            
                        </div>
                        <div class="row features">
							<section class="col-4 col-12-narrower feature">
								<div class="image-wrapper">
									<a href="https://thatvetdevrob.com/" class="image featured"><img src="images/evs.jpeg" alt="" /></a>
								</div>
								<h2 style="color:white; -webkit-text-stroke-width: 2px;
                                -webkit-text-stroke-color: black;">When I create online applications I try to use my own images and styles.</h2>
							</section>
							<section class="col-4 col-12-narrower feature">
								<div class="image-wrapper">
									<a href="https://thatvetdevrob.com/" class="image featured"><img src="images/portfoliorizo.jpeg" alt="" /></a>
								</div>
								<h2 style="color:white; -webkit-text-stroke-width: 2px;
                                -webkit-text-stroke-color: black;">My Portfolio showcases my css animation skills and my growing list of certifications.</h2>
							</section>
							<section class="col-4 col-12-narrower feature">
								<div class="image-wrapper">
									<a href="https://thatvetdevrob.com/" class="image featured"><img  src="images/image0.jpeg" alt="" /></a>
								</div>
                                <h2 style="color:white; -webkit-text-stroke-width: 2px;
                                -webkit-text-stroke-color: black;">I started as a SalesForce SFM email developer, and most recently a front end developer at Apple.</h2>
                            
                        </div>
                        <header class="major">
							<h2 style="color:white; -webkit-text-stroke-width: 2px;
                            -webkit-text-stroke-color: black;">You should hire me if: you need someone who requires little supervision and can work surprisingly fast!</h2>
                            <h2 style="color: #c7524a; -webkit-text-stroke-width: 2px;
                            -webkit-text-stroke-color: black;">I am a proud veteran with disabilities.</h2>
                        </header>
				
					</div>
					<div id="copyright" class="container">
						<ul class="menu">
							
						</ul>
					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
