<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script id="input-template" type="text/x-tmpl-mustache">
    <input type="text" name={{iteration}}>
  </script>
</head>
<body>
  <form action="/search" method="post">
    <h2>Add 2 or more destinations</h2>
    <input type="text" name="start" placeholder="Seattle, WA">
    <input type="text" name="end" placeholder="New York, NY">
    <button id="add-waypoint">Add Mid Points</button>
    <button type="submit">Submit</button>
  </form>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://unpkg.com/mustache@latest"></script>
  <script>
    let templateObj = { iteration: 0 }
    $('#add-waypoint').click(function (event) {
      event.preventDefault();
      let template = $('#input-template').html();
      console.log(template);
      let html = Mustache.render(template, templateObj);
      $('input:first-of-type').after(html);
      templateObj.iteration++;
    })
  </script>
</body>
</html>