<!DOCTYPE HTML>
<!--
	Telephasic by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    <title>Telephasic by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>

    <script type="text/javascript">
      window.onload = function() {
        L.mapquest.key = '<%= MAPQUEST_API_KEY %>';

        let map = L.mapquest.map('map', {
          center: [39.8283, -98.5795],
          layers: L.mapquest.tileLayer('hybrid'),
          zoom: 4
        });

        let directions = L.mapquest.directions();
        directions.setLayerOptions({
          routeRibbon: {
            draggable: false,
            showTraffic: false
          },
          startMarker: {
            draggable: false
          },
          endMarker: {
            draggable: false
          },
          waypointsMarker:{
            draggable: false
          }
        });

        let waypoints = <%- JSON.stringify(destinations.waypoints) %> 

        directions.route({
          start: '<%= destinations.start %>',
          end: '<%= destinations.end %>',
          waypoints: waypoints
        });
      }
    </script>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="" style="  background: url(images/appbanner.jpeg) no-repeat center center fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; height: 36em;">
					<div id="header" class="container">

						
						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li>
										<a href="#">Dropdown</a>
										<ul>
											<li><a href="/">Home</a></li>
											<li><a href="/music">Music</a></li>
											<li><a href="/aboutus">About Us</a></li>
										</ul>
									</li>
								</ul>
							</nav>

					</div>

					<!-- Hero Button for resulths path -->
					<section id="hero" class="container">
						<header>
							<h2>Look for Activities near your Destination.</h2>
						</header>

						<form id="activity-search" action="/results" method="post">
							<input name="lat" type="hidden" value="lat">
							<input name="lon" type="hidden" value="lon">

								<button type="submit">Search Activities</button>
						</form>

					</section>

				</div>

			<!-- Features 1 -->
				<div class="wrapper">
            
            <div id="map" style="width: 100%; height: 530px;"></div>


				</div>


		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>